/.idea/.name
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/ruff.xml
/.idea/vcs.xml
/test.py
/.env
/client_secrets.json
/database/database.db
