{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
    <div class="toolbar">
        <div class="title" xmlns="http://www.w3.org/1999/html">
            <h1>SBHS Sports</h1>
            <h3>Administration - Exempted Dates</h3>
        </div>
        <div class="menu-buttons"><a class="btn btn-secondary" href="/"><span class="material-symbols-sharp">
home
</span></a></div>
    </div>

<div class="description">
    {{ warning|safe }}
    <div class="calendar-select card">
        <form action="" method="post">
            <div class="form-option">
            Start:
            {{ form.start_date }}
            </div><br>
            <div class="form-option">
            End:
            {{ form.end_date }}
            </div><br>
            <div class="form-option">
            Who this exemption applies to:
            {{ form.applies_to }}
            </div>
            <div class="form-option">
                OPTIONAL: Extra notes related to the exemption (i.e. reason for exemption):
                {{ form.notes }}
            </div><br>
            <div class="form-option">
                {{ form.submit }}
            </div>
        </form>
    </div>
    <a class="btn back-btn btn-primary" href="/">Go Back</a>
</div>
{% endblock %}
