{% extends "base.html" %}
{% block title %}Database View{% endblock %}

{% block content %}
<div class="toolbar">
      <div class="title" xmlns="http://www.w3.org/1999/html">
          <h1>SBHS Sports</h1>
          <h3>Administration - Database View</h3>
      </div>
      <div class="menu-buttons"><a class="btn btn-secondary" href="/">Go To Main Page</a></div>
  </div>

<div class="description">

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Year Group</th>
      <th scope="col">House</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <th scope="row">{{ item[0] }}</th>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[3] }}</td>
      <td>{{ item[4] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  <div class="pagination">
    <a href="/database-view?pg=1" class="btn btn-secondary">First</a>
    <a href="/database-view?pg={{ page - 1 }}" class="btn btn-secondary">Previous</a>
    <a href="/" class="btn btn-primary">Back to home</a>
    <a href="/database-view?pg={{ page + 1 }}" class="btn btn-secondary">Next</a>
    <a href="/database-view?pg={{ pages }}" class="btn btn-secondary">Last</a>
  </div>
  <p class="pagination">( page {{ page }} of {{ pages }} )</p>
</div>
{% endblock %}
