{% extends "base.html" %}
{% block title %}Database View{% endblock %}

{% block content %}
<div class="title">
    <h1>Database</h1>
    <h3>View</h3>
</div>
<div class="description">

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Year Group</th>
      <th scope="col">House</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <th scope="row">{{ item[0] }}</th>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[3] }}</td>
      <td>{{ item[4] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  <div class="pagination">
    <a href="/database-view?pg=1"><button>First</button></a>
    <a href="/database-view?pg={{ page - 1 }}"><button>Previous</button></a>
    <a href="/database-view?pg={{ page + 1 }}"><button>Next</button></a>
    <a href="/database-view?pg={{ pages }}"><button>Last</button></a>
  </div>
  <p class="pagination">( page {{ page }} of {{ pages }} )</p>
</div>
{% endblock %}
