{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="title" xmlns="http://www.w3.org/1999/html">
    <h1>Sports</h1>
    <h3>Admin</h3>
</div>

<div class="description">
    <div class="upload">
    <h1>Upload Student Records</h1>
    <div class="notif-success" style="display: none">
        <h3>Success!</h3>
    </div>
    <div class="notif-error" style="display: none">
        <h3>Error!</h3>
    </div>
    <form action="/upload" method="post" enctype="multipart/form-data" id="file-upload">
        <label for="file">Select an Excel file to upload:</label>
        <input type="file" id="file" name="file" accept=".xlsx" required>
        <button type="submit" onclick="alert('Please wait a bit for the entire database to upload!')">Upload</button>
    </form>
        <a href="/database-view" class="btn btn-primary">View Database</a>
</div>
    <div class="mx-auto h5 alert alert-danger" style="width: fit-content">DANGER!!!</div>
    <form action="/api/v1/reset-db" method="post" enctype="multipart/form-data" id="reset-db">
        <a href=""><button type="submit" class="btn btn-danger">RESET DB</button></a>
    </form>

    <div class="summary-table">
        <h2>Attendance Data</h2>
        <table>
            <thead>
                <tr>
                    <th>Sport</th>
                    <th>No. of Students</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr onclick="window.location.replace('/sport/{{ item.Sport }}')">
                    <td>{{ item.Sport }}</td>
                    <td>{{ item.Attendance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
</div>
{% endblock %}
