<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
    <title>Sports Attendance</title>
</head>
<body>
    <div class="title">
    <h1>Sports Attendance</h1>
        </div>

    <!-- Attendance Table -->
    <div class="description">
    <h2>Attendance Data</h2>
    <table>
        <thead>
            <tr>
                <th>Sport</th>
                <th>No. of Students</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.Sport }}</td>
                <td>{{ item.Attendance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <div id="chart">
        {{ chart_html|safe}}
    </div>

    <script>
        const chartData = {{ chart_json|safe}};
        Plotly.newPlot('chart', chartData);

        // Add click event listener
        document.getElementById('chart').on('plotly_click', function(event) {
            const sport = event.points[0].x; // Get the sport name from the clicked bar
            window.location.href = `/sport/${sport}`;
        });
    </script>

    <div id="demo-scatter-plot">
        <h2>Demo Scatter Plot</h2>
        {{ scatter|safe }}
    </div>
    </div>
</body>
</html>