{% extends "base.html" %}
{% block title %}{{ sport_name }} Info{% endblock %}

{% block content %}
    <div class="toolbar">
        <div class="title" xmlns="http://www.w3.org/1999/html">
            <h1>SBHS Sports</h1>
            <h3>Administration - {{sport_name}} Overview</h3>
        </div>
        <div class="menu-buttons"><a class="btn btn-secondary" href="/"><span class="material-symbols-sharp">
home
</span></a></div>
    </div>

<div class="description">

    <div class="chart">{{ pie_chart|safe }}</div>

    <h3>Students who have not attended 80% of their sessions</h3>
    <p>click on a student or enter their ID in the text box below to see their details</p>
    <button class="btn btn-secondary collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#sub80" aria-expanded="false" aria-controls="sub80">Show/Hide</button>
    <div class="collapse" id="sub80">
    <div class="tables">
        {% for group in slackers %}
        <table>
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Attendance (%)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in group %}
                    <tr onclick="window.location.href = '/sport/{{ sport_name }}?student_id={{ student[0] }}#student-sports-lookup';">
                        {% set student_id = student[0]|string %}
                        {% if selected in student_id and selected != "" %}
                            <td style="font-weight: bolder; background-color: #a7fff5">{{ student[0] }}</td>
                            <td style="font-weight: bolder; background-color: #a7fff5">{{ student[1] }}</td>
                        {% else %}
                            {% set attendance = student[1] %}
                        {% if attendance >= 90 %}
                            {% set colour_code = "best" %}
                        <td class="{{ colour_code }}">{{ student[0] }}</td>
                        <td class="{{ colour_code }}">{{ student[1] }}</td>
                        {% elif 80 <= attendance < 90 %}
                            {% set colour_code = "high" %}
                        <td class="{{ colour_code }}">{{ student[0] }}</td>
                        <td class="{{ colour_code }}">{{ student[1] }}</td>
                        {% elif 50 <= attendance < 80 %}
                            {% set colour_code = "mid" %}
                        <td class="{{ colour_code }}">{{ student[0] }}</td>
                        <td class="{{ colour_code }}">{{ student[1] }}</td>
                        {% elif 25 <= attendance < 50 %}
                            {% set colour_code = "low" %}
                        <td class="{{ colour_code }}">{{ student[0] }}</td>
                        <td class="{{ colour_code }}">{{ student[1] }}</td>
                        {% else %}
                            {% set colour_code = "worst" %}
                        <td class="{{ colour_code }}">{{ student[0] }}</td>
                        <td class="{{ colour_code }}">{{ student[1] }}</td>
                        {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        {% endfor %}
    </div>
        </div>
    <h3>Other Students</h3>
    <p>click on a student or enter their ID in the text box below to see their details</p>
    <button class="btn btn-secondary collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#over80" aria-expanded="false" aria-controls="over80">Show/Hide</button>
    <div class="collapse" id="over80">
    <div class="tables">
    {% for group in non_slackers %}
    <table>
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Attendance (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for student in group %}
                <tr onclick="window.location.href = '/sport/{{ sport_name }}?student_id={{ student[0] }}#student-sports-lookup';">
                    {% set student_id = student[0]|string %}
                    {% if selected in student_id and selected != "" %}
                        <td style="font-weight: bolder; background-color: gold">{{ student[0] }}</td>
                        <td style="font-weight: bolder; background-color: gold">{{ student[1] }}</td>
                    {% else %}
                    {% set color = student[1] %}
                        {% if color >= 90 %}
                            {% set code = "best" %}
                        <td class="{{ code }}">{{ student[0] }}</td>
                        <td class="{{ code }}">{{ student[1] }}</td>
                        {% elif 80 <= color < 90 %}
                            {% set code = "high" %}
                        <td class="{{ code }}">{{ student[0] }}</td>
                        <td class="{{ code }}">{{ student[1] }}</td>
                        {% elif 50 <= color < 80 %}
                            {% set code = "mid" %}
                        <td class="{{ code }}">{{ student[0] }}</td>
                        <td class="{{ code }}">{{ student[1] }}</td>
                        {% elif 25 <= color < 50 %}
                            {% set code = "low" %}
                        <td class="{{ code }}">{{ student[0] }}</td>
                        <td class="{{ code }}">{{ student[1] }}</td>
                        {% else %}
                            {% set code = "worst" %}
                        <td class="{{ code }}">{{ student[0] }}</td>
                        <td class="{{ code }}">{{ student[1] }}</td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% endfor %}
    </div>
        </div>

    <h4><br>Student ID Lookup</h4>
    <form id="student-sports-lookup" action="/sport/{{ sport_name }}" method="post">
        <label for="studentID">Enter Student ID </label>
        <input type="text" name="studentID" id="studentID">
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <div class="chart">{{ student_pie|safe }}</div>

    <a class="btn btn-primary back-btn" href="/">Go Back</a>

</div>
{% endblock %}
