{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<div class="toolbar">
    <div class="title" xmlns="http://www.w3.org/1999/html">
        <h1>SBHS Sports</h1>
        <h3>Student Portal - Home</h3>
    </div>
    <div class="menu-buttons"><a class="btn btn-secondary" href="/student">Go To Main Page</a></div>
</div>

<div class="description">
    {% if not logged_in %}
        <div class="login-prompt">
            <p>Please log in through the school portal to continue!</p>
            <a href="/student/login"><div class="login-btn btn btn-primary">LOG IN</div></a>
        </div>
    {% else %}
    <h4>Welcome, {{ name }}!</h4>
    <h5>Attendance Breakdown</h5>
    {% for chart in charts %}
        <h6>{{ chart[0] }}</h6>
        <div class="student-chart">{{ chart[1]|safe }}</div>
    {% endfor %}
    <a class="btn btn-primary" href="https://student.sbhs.net.au/absences/extra-curricular" target="_blank">Register a Sports Absence</a>
    <a href="/student/logout"><div class="logout-btn btn btn-danger">Logout</div></a>
    {% endif %}
</div>
{% endblock %}
